<%- include('../partials/header') %>

<form id="new-form" action="/playlists" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <!-- <label>Artist:</label>
  <input type="text" name="artist">
  <label>Ft.:</label>
  <input type="text" name="featured">
  <label>Album:</label>
  <input type="text" name="album"> -->
  <input type="submit" value="Add Playlist">
</form>

<%- include('../partials/footer') %>